<!DOCTYPE html>
<html>

<head>

    <title>Emotion Music AI</title>

    <style>

        body{
            background:#0f0f0f;
            color:white;
            text-align:center;
            font-family:Arial;
        }

        h1{
            color:cyan;
            margin-top:30px;
            font-size:55px;
        }

        video{

            width:700px;
            border-radius:20px;
            border:5px solid cyan;
            margin-top:30px;

        }

    </style>

</head>

<body>

    <h1>Emotion Music AI</h1>

    <video id="camera" autoplay></video>

    <script>

        navigator.mediaDevices.getUserMedia({
            video:true
        })

        .then(function(stream){

            document.getElementById("camera").srcObject = stream;

        });

    </script>

</body>

</html>